rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.uid in ['UID_1', 'UID_2'];
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
