rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.uid in ['MKeVSMwPzAVSUg8VGy9EG2L72ha2', 'BEN_UID_HERE'];
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
