rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.uid in ['MKeVSMwPzAVSUg8VGy9EG2L72ha2', '3lO30cF0OtNBsfTiNWZ35YqdI7l2'];
    }
    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
